.formContainer {
  height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
  .formContainer {
  height: 100%;
  }}

  button{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    float: right
  }
  section{
  background-color: #add8e6;
  }
  input.ng-invalid.ng-touched {
    border: solid 1px red;
  }
