.application{
  width: 90%;
  margin: 2% 10% 2% 10%;
  display: block;

}

.filter{
  width: 80%;
  margin: 0% 10%;
}

.chips{
  width: 80%;
  margin: 0% 10%;
}

.reset{
  margin-top: 10px;
}


.table{
  width: 90%
}
