InternAppApi/InternAppApi/obj/Debug/net6.0/InternAppApi.assets.cache
InternAppApi/InternAppApi/obj/Debug/net6.0/InternAppApi.assets.cache
InternAppApi/InternAppApi/appsettings.json

InternAppApi/InternAppApi/appsettings.json
InternAppApi/InternAppApi/obj/Debug/net6.0/InternAppApi.assets.cache
InternAppApi/InternAppApi/obj/Debug/net6.0/InternAppApi.assets.cache
