<section>
  <div class=" formContainer" style="overflow: hidden;">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../assets/homeImage.png" class="img-fluid mb-4" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4">
        <p class="h4">
          You’re in the right place if you’re
          looking for a high-quality learning
          program to accelerate your journey
          towards getting a job in the industry.
          Upgrade your skills from entry level to
          junior in less than a few months!
        </p>
        <button type="button" class="btn btn-primary" routerLink="/apply">
          <span>Apply now</span></button>
      </div>
    </div>
  </div>
</section>
