<div class="">
  <!-- Display applicant info -->
  <div class="row mt-3 mb-4 text-center h4">
    <div class="col">{{ this.data.application.id }}</div>
    <div class="col">{{ this.data.application.firstName }}</div>
    <div class="col">{{ this.data.application.lastName }}</div>
    <div class="col">{{ this.data.application.email }}</div>
    <div class="col">{{ this.data.application.educationLevel }}</div>
  </div>
  <!-- Selection information -->
  <div *ngFor="let selections of this.data.selections; let i = index">
    <hr>
    <div class="row mt-3 mb-4 text-center h6">
      <div class="col h4">Selection {{i+1}}:</div>
      <div class="col">Selection Name: {{ selections.name }}</div>
      <div class="col">Selection ID: {{ selections.description }}</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Cover Letter  -->
    <div class="col">
      <mat-list>
        <mat-card-title>Cover Letter</mat-card-title>
        <mat-card-content>
          <div style="white-space: break-spaces">{{data.application.coverLetter}}</div>
        </mat-card-content>
      </mat-list>
    </div>

    <div class="col">
      <div class="row text-center mb-3">
        <div class="col-3">
          <button mat-raised-button class="btn btn-primary cvButton">Download CV</button>
        </div>
        <div class="col-2"></div>
        <div class="col">
          <!-- Update status -->
          <div class="dropdown">
            <form>
              <mat-form-field>
                <mat-select placeholder="Application Status" [(ngModel)]="selectedValue" name="select">
                  <mat-option *ngFor="let status of statuses" [value]="status.value">
                    {{status.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button type="submit" class="btn btn-primary ms-2" (click)="onSubmit()">Update
                Status</button>
            </form>
          </div>
        </div>
        <!-- Add a comment -->
      </div>
      <hr>
      <div class="row mt-5 mb-5">
        <div class="col">
          <div class="commentInput">
            <mat-form-field id="commentField">
              <input matInput placeholder="Add A Comment" #commentInput>
            </mat-form-field>
            <button type="submit" id="commentButton" class="btn btn-primary ms-2"
              (click)="onCommentSubmit(commentInput.value)">Add Comment</button>
          </div>
        </div>
      </div>
      <!-- Display comments  -->
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="comment-tile">
              <mat-list>
                <mat-card class="mb-3" *ngFor="let comment of data.comments">
                  <mat-card-subtitle>
                    <div class="fw-bold">{{comment.userName}}:</div>
                  </mat-card-subtitle>
                  <mat-card-content>{{comment.body}}</mat-card-content>

                </mat-card>
              </mat-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
